@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'flowbite'; */



@media (prefers-color-scheme: dark) {
    :root {
      --background: #0F0823;
      --foreground: #ededed;
    }
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  

  
.hero-func {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

 .about1{
  background: linear-gradient(90deg,rgba(75,15,128,.8) 0%,rgba(63,132,228,.48) 100%);
}
 div.about2-anim{
  animation-name: about2;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
 }

 @keyframes about2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30px);
    }
 }
 div.about3-anim{
  animation-name: about3;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
 }

 @keyframes about3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
 }
 div.card {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.43);  
 }

